/* Global Styles */
@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@font-face {
  font-family: "Rubik";
  src: url('fonts/Rubik.ttf');
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding-top: 10px;
  font-family: "Rubik";
  animation: fade-in ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

i {
  cursor: pointer;
}

/* Background Elements */
.top-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 50vh;
  background-image: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  border-radius: 0 0 1000px 0;
  z-index: -1;
}

.bottom-background {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50vh;
  background-color: hsl(289, 100%, 72%);
  border-radius: 1000px 0 0 0;
  opacity: 0.1;
  z-index: -1;
}

/* Main Content */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Phone Container */
.phone {
  width: 250px;
  padding: 10px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 30px;
  margin: 0 auto;
  box-shadow: 0 5px 50px rgb(173, 173, 173);
}

.phone>div {
  width: inherit;
  height: inherit;
  padding: 0 0 10px;
  box-sizing: border-box;
  background-color: hsl(270, 20%, 96%);
  border-radius: 20px;
  margin: 0 auto;
}

/* Chat Header */
.chat-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px 10px;
  background-image: linear-gradient(to left, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  border-radius: 20px 20px 5px 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.camera {
  width: 60%;
  height: 20px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 0 0 15px 15px;
}

.profile {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 225px;
}

.profile>div {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 45px;
  color: hsl(0, 0%, 100%);
  font-size: 13px;
}

.profile-picture {
  border-radius: 20px;
  border: 1px solid hsl(0, 0%, 100%);
  margin-right: 10px;
}

.name {
  display: flex;
  flex-direction: column;
}

.profile>div span {
  color: hsl(276, 100%, 81%);
  font-size: 10px;
}

.fa-chevron-left {
  font-size: 10px;
  color: hsl(0, 0%, 100%);
  margin-right: 5px;
}

.fa-ellipsis-v {
  color: hsl(0, 0%, 100%);
  font-size: 13px;
}

/* Chat Messages */
.message {
  padding: 10px;
  margin: 0 10px 10px;
  font-size: 8px;
  box-sizing: border-box;
}

.reciever {
  width: 130px;
  clear: right;
  background-color: hsla(276, 100%, 81%, 25%);
  border-radius: 10px 10px 10px 5px;
  color: hsl(276, 55%, 52%);
}

.sender {
  max-width: fit-content;
  width: 130px;
  float: right;
  clear: right;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px 10px 5px 10px;
  color: hsl(271, 15%, 43%);
}

.sender>img {
  border-radius: 10px;
  margin: 0 0 0 10px;
}

.chat-images {
  width: fit-content;
  padding: 0;
  margin: 10px 10px 10px 0;
  background: transparent;
  box-sizing: border-box;
}

.poll {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 160px;
  color: hsl(276, 100%, 81%);
  background-image: linear-gradient(to left, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
}

.time {
  display: flex;
  align-items: center;
  align-content: center;
}

.time input {
  display: none;
}

.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 10px;
  width: 10px;
  margin-right: 10px;
  background-color: hsla(0, 0%, 0%, 0%);
  border: 1px solid hsl(276, 100%, 81%);
  border-radius: 50%;
  cursor: pointer;
}

.price {
  color: hsl(0, 0%, 100%);
  font-weight: bold;
  font-size: 14px;
}

/* Message Input */
.type-a-message {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 230px;
  padding: 5px;
  margin: 10px 10px 0;
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 20px;
  box-sizing: border-box;
  font-size: 10px;
}

.type-a-message>input:focus-visible {
  outline: unset;
}

.type-a-message>input {
  margin: 0 0 0 15px;
  padding: 0;
  border: none;
}

.type-a-message>button {
  width: auto;
  padding: 0;
  background: none;
  border: none;
}

::placeholder {
  color: hsl(270, 7%, 64%);
  opacity: 0.5;
}

.fa-chevron-circle-right {
  margin: 0;
  color: hsl(271, 36%, 24%);
  font-size: 24px;
}

/* Text Content */
.phone+div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: fit-content;
  text-align: center;
}

.phone+div>h1 {
  width: fit-content;
  color: hsl(271, 36%, 24%);
  font-size: 40px;
}

.phone+div>p {
  width: 310px;
  color: hsl(270, 7%, 64%);
  line-height: 1.5em;
}

/* Attribution */
.attribution {
  width: 80%;
  margin: 10px auto;
  font-size: 13px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

/* Media Query */
@media only screen and (min-width: 800px) {
  body {
    padding: 0;
  }

  .main {
    flex-direction: row;
    margin-bottom: 10px;
  }

  .phone+div {
    width: fit-content;
    margin-left: 80px;
    align-items: flex-start;
    justify-items: flex-start;
    text-align: left;
  }

  .phone+div>p {
    width: 450px;
  }

  .top-background {
    left: -10%;
    width: 40%;
    height: 85vh;
    border-radius: 0 0 1000px 1000px;
  }

  .bottom-background {
    right: -10%;
    width: 35%;
    height: 85vh;
    border-radius: 500px 500px 0 0;
  }
}